
<!-- 👉 header section  -->

<div class="container">
  <div class="dashboard_content">
    <h1>Dashboard</h1>
    <div class="header_wrapper">
      <div class="header_edit">
         <a href="../index.html"> <i class="fa-solid fa-house"></i></span>
         </a>
      </div>
      <!-- <div class="header_pic">
        <span><i class="fa-solid fa-user"></i></span>

      </div> -->
      <div class="header_logout">
        <span><i class="fa-solid fa-right-from-bracket"></i></span>
      </div>
  </div>
</div>
  </div>