
<!-- 👉 header section  -->

<div class="container">
    <div class="header_wrapper">
      <div class="header_edit" id="headerEdit">
        <a href="../pages/admin/dashboard.html">
         <span id="editBtn"><i class="fa-solid fa-pen-to-square"></i></span>
         </a>
      </div>
      <div class="header_pic" id="headerPic">
        <span><i class="fa-solid fa-user"></i></span>

      </div>
      <div class="header_logout" id="logout">
        <span ><i class="fa-solid fa-right-from-bracket"></i></span>
      </div>
      <!-- // login Creditional  -->
       <div class="login">
        <div class="close_login__btn">
          <span id="closeLogin">
            <i class="fa-solid fa-xmark"></i>
           </span>
        </div>
        <div class="login_heading">
              <h2>Login</h2>
        </div>
       
         <form id="login">
                <input type="text" placeholder="Enter Your Name..." >
                <input type="email" placeholder="Enter Your Email..." autocomplete="username">
                <input type="password" name="password" placeholder="Enter Your Password..." autocomplete="current-password">
                <button type="submit">Submit</button>
         </form>
         
       </div>

       <!-- // dashboard html  -->
       <div id="contentWrapper">
        <!-- Dynamic content from dashboard.html will be inserted here -->
    </div>
    </div>
      
  </div>
  </div>