<!-- // 👉 Navbar  -->

<div class="container">
    <div class="nav_wrapper">
      <div class="nav_menu">
        <span id="menuToggle">
          <i class="fa-solid fa-bars"></i>
        </span>
      </div>
        <div class="nav_left">
             <div class="nav_heading">
               <h1><span>Blog</span> <span>Info.</span></h1>
             </div>
             <div class="nav_search">
                  <span class="search_icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                 <input type="text" placeholder="Search here..." id="searchInput">
             </div>
             <div class="nav_social">
              <a href="https://www.linkedin.com/in/suberiq/" target="_blank">
                <span><i class="fa-brands fa-linkedin"></i></span>
              </a>
              <a href="https://www.instagram.com/suberquercusumit/" target="_blank">

                <span><i class="fa-brands fa-square-instagram"></i></span>
              </a>
              <a href="https://in.pinterest.com/suberiq/" target="_blank">

                <span><i class="fa-brands fa-pinterest"></i></span>
              </a>
              <a href="https://x.com/suberiq" target="_blank">
                <span><i class="fa-brands fa-square-x-twitter"></i></span>
              </a>
             </div>
        </div>
        <div class="nav_right">
                <div class="nav_links">
                    <div class="nav_categories" id="navCategories">
                        <div class="nav_cate__title">
                          <span><i class="fa-solid fa-list"></i></span>
                          <label for="categories">Select Category</label>
                        </div>
                        <select name="categories" id="categories">
                          <option value="" disabled selected>Choose a category</option>
                          <option value="technology">Technology</option>
                          <option value="lifestyle">LifeStyle</option>
                          <option value="arts">Arts</option>
                          <option value="education">Education</option>
                          <option value="business">Business</option>
                          <option value="food">Food</option>
                          <option value="science">Science</option>
                          <option value="entertainment">Entertainment</option>
                          <option value="fitness">Fitness</option>
                          <option value="miscellaneous">Miscellaneous Topics</option>
                        </select>
                    </div>
                    <div class="nav_link__group" id="navMenu">
                             <ul>
                              <li><a href="#"><span><i class="fa-solid fa-house"></i></span> Home</a></li>
                              <li><a href="#latestPosts"><span><i class="fa-solid fa-blog"></i></span>Posts</a></li>
                              <li><a href="https://github.com/suber-IQ" target="_blank"><span><i class="fa-solid fa-id-card"></i></span>About</a></li>
                              <li><a href="https://www.linkedin.com/in/suberiq/" target="_blank"><span><i class="fa-solid fa-handshake"></i></span>Connect</a></li>
                             </ul>
                    </div>
                </div>
                <div class="nav_carousel">
                    <div class="nav_slides">
                      <div class="nav_slide"><img src="../assets/images/pepsi.jpg" alt="ads"></div>
                      <div class="nav_slide"><img src="../assets/images/coca-cola-ads.jpeg" alt="ads"></div>
                      <div class="nav_slide"><img src="../assets/images/mango-ads.jpg" alt="ads"></div>
                    </div>
                    <span class="slide_prev"><i class="fa-solid fa-less-than"></i></span>
                    <span class="slide_next"><i class="fa-solid fa-greater-than"></i></span>
                </div>
        </div>
    </div>
  </div>